body {
    background-color: #679ddd;
}

section {
    width: 90%;
    margin: auto;
}


/********
SECTIONS
************/

#topstuff {
    background-color: #ae7c52;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 20px;
}

#projects {
    background-color: #85af4b;
    /* background-color: #e0a672; */
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 20px;
}

#about {
    background-color: #85af4b;
    padding: 2rem;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 20px;
}

#techs {
    background-color: #fff;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 20px;
}

.tech-logo {
    max-width: 100px;
}

#contact {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 20px;
    background-color: #85af4b;
}

.contact-icon {
    font-size: 4rem;
    text-align: center;
}

.fa::before {
    color: white;
}
.fa::after {
    color: gray;
}

#footer {
    background-color: #679ddd;
    width: 100%;
}



.circle {
    border-radius: 50%;
}

.tiny {
    font-size: .5em;
}